{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Perfil Profesor {% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row ml-5 mt-3">

    <div class="col-9 col-sm-3">
      <div class="card">
        <img src="{{profesor.foto.url}}"  class="card-img-top"  alt="foto de perfil" height="300">
        <div class="card-body">
          <h5 class="card-title">Perfil Profesor</h5>
        </div>
      </div>
    </div>


    <div class="col-9 ml-sm-5 mt-3 mb-3 col-sm-6">
      <div class="jumbotron">

        <h1>Datos Personales</h1>
        <hr class="my-4">
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
          <div class="col-sm-10">
            <input style="background-color: white" type="text" readonly class="form-control" id="staticEmail" value="{{profesor}}">
          </div>
        </div>

        {% language 'es' %}
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Fecha de Nacimiento:</label>
          <div class="col-sm-8">
            <input style="background-color: white" type="text" readonly class="form-control" id="staticEmail" value="{{profesor.fecha_nac}}">
          </div>
        </div>
        {% endlanguage %}

        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Correo Electrónico:</label>
          <div class="col-sm-9">
            <input style="background-color: white" type="text" readonly class="form-control" id="staticEmail" value="{{profesor.email}}">
          </div>
        </div>
      </form>

    </div>

    </div>

  </div>
</div>
{% endblock %}
