{% extends 'base.html' %}
{% load static %}

{% block title %} Info. Alumno {% endblock %}

{% block content %}

<div class="row ml-5 mt-3">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/alumno.jpg' %}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Perfil Alumno</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Juan Perez</li>
        <li class="list-group-item">3B</li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div class="row ml-3 mt-4">
      <button type="button" href="#" class="btn btn-primary btn-lg btn-block">Ver Calificaciones</button>
      <button type="button" href="#" class="btn btn-primary btn-lg btn-block">Ver Información Personal</button>
      <button type="button" href="#" class="btn btn-primary btn-lg btn-block">Ver Progreso</button>
    </div>
  </div>
</div>

{% endblock %}
