{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Info. Alumno {% endblock %}

{% block content %}

<div class="container-fluid">


<div class="row ml-5 mt-3">
  <div class="col-9 col-sm-3 mb-5">
    <div class="card">
      {% if estudiante.0.foto %}
      <img src="{{estudiante.0.foto.url}}"  class="card-img-top" alt="foto de perfil" height="260">
      {% endif %}
      <div class="card-body text-primary">
        <h5 class="card-title">Perfil Alumno</h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{estudiante.0}}</li>
        <li class="list-group-item">{{estudiante.0.curso}}</li>
      </ul>
    </div>
    </div>
  </div>

  <div class="col-9 ml-sm-5 mt-3 mb-3 col-sm-6">
    <form>
      <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="text" value="{{estudiante.0}}">
        </div>
      </div>


      {% language 'es' %}
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Fecha Nacimiento:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.fecha_nac}}">
        </div>
      </div>
      {% endlanguage %}

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Numero de Emergencia:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.num_emergencia}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email de Contacto:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.email_contacto}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Dirección:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.direccion}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Apoderados:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.apoderado}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Trastornos:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="staticEmail" value="{{estudiante.0.trastorno}}">
        </div>
      </div>

      <fieldset disabled>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Observaciones:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
          {{estudiante.0.observacion}}
        </textarea>
      </div>
      </fieldset>
    </form>
  </div>
</div>


</div>
{% endblock %}
