{% extends 'base.html' %}
{% load static %}

{% block title %} Info. Alumno {% endblock %}

{% block content %}

<div class="container-fluid">


  <div class="row ml-5 mt-3">
    <div class="col-9 col-sm-3 mb-5">
      <div class="card">
        {% if estudiante.0.foto %}
        <img src="{{estudiante.0.foto.url}}"  class="card-img-top" alt="foto de perfil"  height="260">
        {% endif %}
        <div class="card-body text-primary">
          <h5 class="card-title">Perfil Alumno</h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{estudiante.0}}</li>
          <li class="list-group-item">{{estudiante.0.curso}}</li>
        </ul>
      </div>
      </div>
    </div>

    <div class="col-9 ml-sm-5 mt-3 mb-3 col-sm-6">
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'alumno_notas' alumno_id=estudiante.0.id %}">Ver Calificaciones</a>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'alumno_info' user=estudiante.0.id %}">Ver Información Personal</a>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'alumno_progreso' alumno_id=estudiante.0.id %}">Ver Progreso</a>
    </div>
  </div>

</div>

{% endblock %}
