{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- CSS DE BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>
      {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    {% include "superior/Encabezado.html" %}
    {% include "superior/barra.html" %}
    {% block content %}
    {% endblock %}

    <!-- JAVASCRIPT, JQUERY DE BOOTSTRAP -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

  </body>
</html>