<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> HOLA MUNDO</title>
  </head>
  <body>
    
    {% include "superior/barra.html" %}
    
    
    <h1 style="color:red"> Hola mundo, estamos viendo nuestra primera plantilla</h1>
    
    {% if nombre_persona == 'Daniel' %}
      <p>El curso lo imparte el profesor titular</p>
    {% else %}
      <p>El curso lo imparte el profesor suplente</p>
    {% endif %}
    
    <p> Mi nombre es: {{nombre_persona.upper}} {{apellido_persona.upper}}</p>
    <p>La fecha actual es: {{fecha.day}} / {{fecha.month}} / {{fecha.year}} </p>
    <p>Usuarios de la App Web:</p>
    <p>
      <ul>
      {% if usuarios %}
        {% for usuario in usuarios %}
          <li>{{usuario}}</li>
        {% endfor %}
      {% else %}
        <p>No hay elementos que mostrar</p>
      {% endif %}
      </ul>
      
    </p>
  </body>
</html>