{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial.scale = 1.0">
    <meta htpp-equiv = "X-UA-compatible" content = "ie-edge">

    <title>Log In</title>

    <!--FONTS-->

    <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

    <div class = "row">
        <div class = "col-lg-4 m-auto">
            <div class = "card mt-4">
                <div class = "card-title ml-4 mt-3">
                    <h2 class="font-weight-bold">Iniciar Sesión</h2>
                </div>
                <div class = "card-body">
                    <form>
                        <div class="form-group">
                            <label for="Email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="Email">
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="Password">
                            <a href="{% url 'forgotpassword' %}"><small class="form-text text-muted text-right" >¿Olvidó su contraseña?</small></a>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>