{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial.scale = 1.0">
    <meta htpp-equiv = "X-UA-compatible" content = "ie-edge">

    <title>Log In</title>

    <!--FONTS-->

    <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>
    <div class = "row">
        <div class = "col">
            <h2>Has cerrado sesión.</h2>
        </div>
    </div>

</body>

</html>